
        body {background-color: #fcfbe7;}
        .mont {font-family: "Montserrat", regular;}
        .mont-bold {font-family: "Montserrat", bold;}
        .osw {font-family: "Oswald", regular;}
        .header {
            background-color: #ffffff;
        }
        .footer {
            padding: 20px;
            background-color: #cc5803;
            color: #ffffff;
        }
        .social_icon a i {
            margin: 10px;
            font-size: 40px; /* dimensione icone */
            color: white;
        }
        .contact-info__icon i {
            color: white;
        }
        .col-foto {
            background-color: #cc5803;
            padding: 20px;
        }
        .col-menu {
            padding: 20px;
            background-color: #fff
        }
        .sotto-menu{
            padding: 20px;
            background-color: #fcfbe7
        }
        .titolo {
            padding: 150px;
        }