body {
background-image: url(../img/sfondo.png);
background-size: cover;
background-repeat: repeat;
height: 100vh;
margin: 0;
}
.mont {font-family: "Montserrat", regular;}
.mont-bold {font-family: "Montserrat", bold;}
.osw {font-family: "Oswald", regular;}


.header {
background-color: #ffffff;
}
.footer {
padding: 20px;
background-color: #cc5803;
color: #ffffff;
}
.antifooter {
padding: 20px;
background-color: #fff;
color: #cc5803;
}
.intro {
padding: 20px;
background-color: #cc5803;
color: #fff;
}
.bordino{
margin-bottom: 10px;
margin-top: 10px
border-bottom: 2px solid #fff;
}
.social{
color: #ff9505;
}
.mont-p {
    font-family: 'Montserrat', regular;
    font-weight: 900;
}



.social_icon a i {
margin: 10px;
font-size: 40px; /* dimensione icone */
color: white;
}
.contact-info__icon i {
color: #white;
}


.opzioni{
width: 100%;
/*height: 200px;
overflow: hidden;*/
}
.col-foto {
background-color: #cc5803;
padding: 20px;
}
.col-menu {
padding: 20px;
background-color: #fff
}
.sotto-menu{
padding: 20px;
background-color: #fcfbe7
}
.form{
background-color: #ffc971;
color: #cc5803;
padding: 10px;
}
.titolo {
margin: 0 auto;
padding-top: 150px;
padding-bottom: 50px;
}
.smus{
border-radius: 20px;
}
.smush{
border-radius: 50px;
}
.infocard{
padding: 50px;
color: #cc5803;
background-color: #fff;
border-radius: 50px;
}
.banner{
background-color: red;
color: #fff;
}


.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #cc5803;
}

.button1:hover {
  background-color: #cc5803;
  color: white;
}


.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay h3 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.pad{
margin: 0 auto;
padding-top: 20px;
padding-bottom: 20px;
}

.slogan{
color: #ffb627;
}

.maintxt{
color: #ff9505;
}


.paragrafo-espandibile {
  overflow: hidden;
  max-height: 0px; /* altezza massima iniziale */
  transition: max-height 0s ease;
}
.paragrafo-espandibile.expanded {
  max-height: 100%; /* altezza massima espansa */
}